@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.green-day {
  background: #22c55e !important;
  color: white !important;
}

.yellow-day {
  background: #facc15 !important;
  color: black !important;
}

.red-day {
  background: #ef4444 !important;
  color: white !important;
}